<ion-header>
  <ion-toolbar>
    <ion-title>posts list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="spinner" *ngIf="spinner">
    <ion-spinner name="crescent"></ion-spinner>
  </div>


  <ion-list *ngIf="!spinner">
    <ion-item *ngFor="let post of posts" [routerLink]="['/tabs/post', post.id ]">
      <ion-label>
        <h3>
          <strong>{{ post.title }}</strong>
        </h3>
        <p>{{ post.body }}</p>
      </ion-label>
    </ion-item>
  </ion-list>



</ion-content>
