<ion-header>
  <ion-toolbar>
    <ion-title>photos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row class="center">
      <ion-col size-sm-6>
        <ion-button color="secondary" (click)="takeSnap()">
          Take Snap <ion-icon name="camera-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size-sm-6>
        <ion-button color="tertiary" (click)="getImages()">
          Gallery Image <ion-icon name="attach-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h3 *ngIf="photosList.length <= 0" class="ion-text-center">Please Select Or Add New Image</h3>

  <ion-card *ngFor="let photo of photosList; let i = index">
    <ion-card-header>
      <ion-card-subtitle>{{ i+1 }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img [src]="photo">
    </ion-card-content>
  </ion-card>


</ion-content>
