ion-content {
  --background: linear-gradient( var(--ion-color-primary), var(--ion-color-secondary));

  ion-toggle {
    transform: rotate(90deg);
    position: absolute;
    bottom: -1%;
    right: -676%;
    width: 3rem;
  }

  ion-toggle.toggle-checked {
    box-shadow: 52px 0px 43px 0px #c6d0d2;
    --handle-box-shadow: 20px 0px 20px 0px #c6d0d2;
    --handle-border-radius: 100px;
    --handle-spacing: 0px;
    --handle-height: 0;
    --background-checked: #cf7004;
    --handle-background-checked: transparent;
  }
  hr{
    background-color: var(--brBgColor);
    padding: 0;
    margin: 0
  }
  #date-time{
    position: absolute;;
    top: 1%;
    left: 8%;
    font-size: 80px;
    font-family: Oswald-Light;
    color: var(--text-color)
  }

  #container{
    height: 50%;
    width:5px;
    background: linear-gradient( rgba(0, 0, 0, 0), var(--bgColor));
    position:absolute;
    right:20%
  }

  #footer{
    position: absolute;
    bottom:0;
    padding: 20px;
    margin: 25px;
    color: var(--textColor);
    font-family: Oswald-Light;

    .footer-text{
      padding: 10px;
      letter-spacing: 2px;
      .author{
        strong {
          // color: var(--text-color);
          color: #fff;
          padding: 0 2px;
          background-color: var(--text-color);
        }
      }
    }
    .footer-icons-tab {
      padding: 5px 0;
      ion-icon{
        margin: 0 12px;
        font-size:25px
      }
    }
  }

  .landscape{
    left: 12%;
  }
}



