ion-card{
  margin-bottom: 3rem;

  ul{
    list-style: none;
    border: .5px solid rgba(90, 90, 90, 0.603);
    li{
      border-bottom: 1px solid black;

      p{
        display: inline-block;
        width: 7rem;
        font-weight: bold;
        }
    }
  }
}
